.post {
  min-height : 500px;
  width: 100%;

}

.img-profile{
  width: 100%;
  height: 300px;
  background-size: cover;
  display : block;
  background: no-repeat center;
}

.commentList {
  padding:0;
  list-style:none;
  max-height:200px;
  overflow:auto;
}
.commentList li {
  margin:0;
  margin-top:10px;
  height: 50px;
}
.commentList li > div {
  display:table-cell;
}
.commentImage {
  width:30px;
  margin-right:5px;
  height:30px;
}
.commentImage img {
  width:100%;
}
.commentText p {
  margin:0;
}

.sub-text {
  color:#aaa;
  font-family:verdana;
  font-size:11px;
}

.img-responsive {
  margin-left: auto;
  margin-right: auto;
}


.map-view{
  height: 395px;
  width: 100%;
  overflow: hidden;
}



.at-view-flip-out-vertical.ng-leave {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 20;
}

.at-view-flip-out-vertical.ng-leave-active {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 10;
}

.at-view-flip-in-vertical.ng-enter {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-right: 15px;
  margin-left: 15px;
  z-index: 10;
}

.at-view-flip-in-vertical.ng-enter-active {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  z-index: 20;
}

.big-icon-box {
  margin: 5px -5px;
  background-color: #2196F3;
  color: #ffffff;

  -webkit-transition: 200ms linear;
  -moz-transition: 200ms linear;
  -ms-transition: 200ms linear;
  -o-transition: 200ms linear;
  transition: 200ms linear;
}

.big-icon-title > h4{
  padding: 10px 0px;
}

.big-icon-box:hover {
  box-shadow: 4px 4px 0px #D0D0D0;
  color: #1E3A74;
}

.big-icon i {
  font-size: 76px;
  padding-bottom: 12px
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: auto;
  height: 100px;
  text-align: center;
  padding-top: 25px;
  margin: 10px 0px;
}

.mfb-component__button--main, .mfb-component__button--child {
  background-color: #4285f4;
}
