<nav class="navbar navbar-fixed-top header">
  <div class="container-fluid">
    <div class="navbar-header">

      <a href="#/main" class="navbar-brand">Arregla-me</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
        <i class="glyphicon glyphicon-search"></i>
      </button>

    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse1">
      <div class="navbar-left">
        <form class="navbar-form pull-left">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Búsqueda" name="srch-term" id="srch-term">
            <div class="input-group-btn">
              <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li ng-class="{'active' : currentView == 'postwall'}"><a ng-click="setCurrentView('postwall')"><i class="glyphicon glyphicon-th-large"></i> Mural de incidencias</a></li>
          <li ng-class="{'active' : currentView == 'profile'}"><a ng-click="setCurrentView('profile')"><i class="glyphicon glyphicon-user"></i> Perfil de usuario</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!--login modal-->
<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="text-center"><img src="assets/u100.png" class="img-circle"><br>Login</h2>
      </div>
      <div class="modal-body">
        <form class="form col-md-12 center-block">
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-lg" placeholder="Password">
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block">Sign In</button>
            <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--about modal-->
<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="text-center">Arregla-me</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <a href="http://www.bootply.com/DwnjTNuvVt">ArreglaMe - Hack For Good 2015</a>
          <br><br>
          Desarrollado with <i class="glyphicon glyphicon-heart"></i> por <br><br>
          <strong>Miguel Barrientos</strong> &lt<a href="https://github.com/mbarrientos">/mbarrientos</a>&gt,<br>
          <strong> José Carrasco</strong>&lt<a href="https://github.com/kiuby88">/kiuby88</a>&gt<br>
          y <strong>Adrián Nieto</strong>&lt<a href="https://github.com/adriannieto">/adriannieto</a>&gt.
          <br><br>
          <a href="https://github.com/kiuby88/arreglame">Code @ GitHub</a>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
      </div>
    </div>
  </div>
</div>
