<div class="col-sm-6 col-lg-3">
<div class="panel panel-default" ng-controller="PostCtrl" >
  <div class="panel-heading">
    <h4>{{post.title}}</h4>
    <small>Creado por: </small><a href="#"><strong>{{post.user}}</strong></a>
    <span class="badge badge-success pull-right">+{{post.points}}</span>
  </div>
  <div class="panel-body">

    <img src="//static.guim.co.uk/sys-images/Guardian/Pix/pictures/2012/7/12/1342109726142/hole-in-road-didsbury-man-008.jpg" class="img-responsive">
    <br>
    Palabras clave: <a href="#">agujero</a>, <a href="#">calzada</a>, <a href="#">arreglo</a>, <a href="#">importante</a>
    <div class="clearfix"></div>
    <hr>
    <p>{{post.description}}</p>
    <hr>
    <ul class="commentList">
      <li ng-repeat="comment in post.comments">
        <div>
          <img class="commentImage" ng-src="{{comment.userThumbnail}}">
        </div>
        <div class="commentText"><a href="#"><strong>{{comment.userName}}</strong></a>
          <p>{{comment.text}}</p><span class="date sub-text">{{comment.date | date : format : timezone}}</span>
        </div>
      </li>
    </ul>
    <form>
      <div class="input-group">
        <div class="input-group-btn">
          <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
        </div>
        <input type="text" class="form-control" placeholder="Escribe un comentario...">
      </div>
    </form>
  </div>
</div>
</div>
