<div class="row">
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-12">
          <div class="thumbnail">
            <img class="img-circle img-responsive" width="80%" src="{{profileImage}}">
            <!--<svg id="fillgauge1" width="100%" height="100%"></svg>-->
            <div class="caption">
              <strong>{{userName}}</strong>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
        <!--left col-->
          <ul class="list-group">
            <li class="list-group-item text-muted" contenteditable="false" style="background: #4285f4; color: white">Perfil</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Nombre</strong></span>{{userName}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Ciudad</strong></span>{{city}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Unido</strong></span> {{signUpDate}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span> {{lastSignIn}}</li>
            </li>
          </ul>
        </div>
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item text-muted" style="background: #4285f4; color: white">Actividad <i class="fa fa-dashboard fa-1x"></i>
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Eventos</strong></span> {{numIncidents}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Aceptados</strong></span> {{acceptedIncidents}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Rechazados</strong></span> {{refusedIncidents}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">En proceso</strong></span> {{processingIncidents}}</li>
          </ul>
        </div>
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">Sitio Web <i class="fa fa-link fa-1x"></i>
            </div>
            <div class="panel-body"><a href="{{webSite}}">{{webSite}}</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactWithMe"><span class="glyphicon glyphicon-send"></span> Contacta conmigo!</button>
        </div>
      </div>
    </div>
    <!--/col-3-->
    <div class="col-sm-9" contenteditable="false" style="">
      <div class="panel panel-default target">
        <div class="panel-heading" contenteditable="false">Eventos sugeridos</div>
        <div class="panel-body">
          <div class="row">
            <post ng-repeat="post in postList | byPostUser:userName" showComments="true" post="post"></post>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Puntuación</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-4 col-sm-12">
                  <d3-gauge value="{{acceptedIncidentsPerCent()}}" circle-color="#00695C" text-color="#00695C" wave-color="#A0F5DA" wave-text-color="#00838F"></d3-gauge>
                  <p class="text-center"><small> Aceptados</small>
                  </p>
            </div>
            <div class="col-lg-4 col-sm-12">
                <d3-gauge value="{{processingIncidentsPerCent()}}" circle-color="#FF7777" text-color="#FF4444" wave-color="#FFDDDD" wave-text-color="#FFAAAA"></d3-gauge>
                  <p class="text-center">
                    Rechazados
                  </p>
            </div>
            <div class="col-lg-4 col-sm-12">
                <d3-gauge value="{{processingIncidentsPerCent()}}" circle-color="#FF9800" text-color="#FF9800" wave-color="#FFD180" wave-text-color="#FFB300"></d3-gauge>
                <p class="text-center">
                    En proceso
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <nav mfb-menu position="br" effect="slidein-spring" label="hover here"
       resting-icon="glyphicon glyphicon-envelope"

       active-icon="glyphicon glyphicon-list"
       toggling-method="click">
    <button mfb-button
            icon="{{button.icon}}" label="{{button.label}}"
            ng-repeat="button in buttons"
            data-toggle="modal" data-target="#{{button.modal}}"></button>
  </nav>

  <!--contactWithMe Modal-->
  <div id="contactWithMe" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 class="text-center"><img src="images/mory.jpg" class="img-circle img-responsive" width="200px"><br>Escribeme</h2>
        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <label >Asunto</label>
              <input type="text" class="form-control" placeholder="Introducir asunto">
            </div>
            <hr>
            <div class="form-group">
              <label >Mensaje</label>
              <textarea class="form-control" rows="3" placeholder="Introducir mensaje"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--New Message Modal-->
  <div id="{{modalNewMessageId}}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 class="text-center">Mensaje Privado</h2>
        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <label >Destinatario</label>
              <input type="text" class="form-control" placeholder="Introducir detinatatio del mensaje">
            </div>
            <div class="form-group">
              <label >Asunto</label>
              <input type="text" class="form-control" placeholder="Introducir asunto">
            </div>
            <hr>
            <div class="form-group">
              <label >Mensaje</label>
              <textarea class="form-control" rows="3" placeholder="Introducir mensaje"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      <script language="JavaScript">
